<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thaliproject.p2p.btpollingsynclib">

    <application android:allowBackup="true" android:label="@string/app_name">

        <service android:enabled="true" android:name=".BtPollingSyncService" />
    </application>

</manifest>
